.demo-container {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 400px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.demo-placeholder {
	width: 100%;
	height: 100%;
}

.legend table {
	width: auto;
}

.demo-container.demo-container-smaller {
	width: 60%;
	height: 300px;
}

.demo-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.demo-placeholder-mini {
	float: left;
}

.legend table {
	border-spacing: 5px;
}
